{% extends 'User/UserHome.html' %}
{% block content %}
{% load static %}

<!-- <section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="index.html" class="editContent"></a> <p></li>
                <li class="active editContent">
                    </li>
            </ul>
            </div>
</div>
</div>
</section> -->
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">

            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col text-center"><br><br>
                        </div>
                    </div>
                    <div class="row about_row">
                        <div class="col-lg-6">
                            <div class="about_content"><br>
                                <div class="text_highlight" style="color:rgb(0, 0, 0)"><br>FLYHIGH started in the year 2020, and it began its journey serving the Hong Kong tourist travel market with best-value products & services such as Visa Services, Flight Ticket booking, Staycations. Emerging from the seed of a single concept, FLYHIGH Travel has emerged as a formidable player in the realm of online travel.Our main focuses are - Individual travellers, Groups of companies (Meetings, Incentives, and Conferences), social (marriages, anniversaries, and birthdays) or just about any kind groups travelling and cruising. Get the best available price for every Packages, Hotel, Flight, Visa or Vehicle booking. No hidden charges.</div>
                                <div class="about_text" >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"><br>
                            <div class="about_image"><img src="{% static 'images/about.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}